<li> <a href="/smileposts" id="smileposts">Smile Posts</a></li>
<li> <a href="/chatrooms" id="chatrooms">Chatrooms</a></li>
<li> <a href="/mypage" id="mypage">My Profile</a></li>

<div id="funni">
    <li id="search">
        <input id="user_search" placeholder="Search for user">
        <button id="search_btn" onclick="getUserBySearch()"> Search </button>
    </li>
    <li><a id="logoutBtn" onclick="logout()"> Logout</a></li>
    <div id="userPos" class="show-info">👤</div>

</div>

<script src="../JS/navBar.js"></script>
<script src="../JS/setActive.js"></script>