<li> <a href="/smileposts" id="smileposts" >Smile Posts</a></li>
<li> <a href="/chatrooms"  id="chatrooms" >Chatrooms</a></li>
<li> <a href="/mypage" id="mypage" >My Profile</a></li>
<li> 
    <input id="user_search" placeholder="Search for user"> 
    <button id="search_btn" onclick="getUserBySearch()"> Search </button> 
</li>

<li><button id="logoutBtn" onclick="logout()"> Logout</button></li>
<div id="userPos" class="show-info">👤</div>

<div id="info-pos" class="hide">
    <p id="username"></p>
    <p id="firstname"></p>
</div>


<script src="../JS/navBar.js"></script>
<script src="../JS/setActive.js"></script>
