<li> <button onmouseover="showDropdown()" class="dropbtn">Smileposts</button> 

    <div class="dropdown">
        <div id="myDropdown" class="dropdown-content">
            <a href="/smileposts" id="smileposts">Smile Posts</a>
            <a href="/smilepostsOne" id="smileposts">Romantic posts</a>
            <a href="/smilepostsTwo" id="smileposts">Happy work posts</a>
        </div>
      </div>
</li>

<li><a href="/chatrooms"  id="chatrooms">Chatrooms</a></li>
<li><a href="/editProfile">My Profile</a></li>
<li><input id="user_search" placeholder="Search for user by username" style="height: 3em; width: 120%; padding: 0.55em;"></li> <li><button onclick="getUserBySearch()"> Search </button></li>

<li><button id="logoutBtn" onclick="logout()"> Logout</button></li>
<div id="userPos" class="show-info">👤</div>



<div id="info-pos" class="hide">
    <p id="username"></p>
    <p id="firstname"></p>

</div>



<script>

    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
        console.log("Kørt")
    }


    showUsername();

    async function showUsername(){

        let username = document.getElementById("username")
        let firstname = document.getElementById("firstname")
        const res = await fetch(`/api/loggedInUser`);
        const user = await res.json();

        username.innerText = "Logged in as " + user.username
    }



    async function getUserBySearch(){
        const searchQuery = document.getElementById("user_search").value;

        //const userObjRes = await fetch(`/api/getUserByUsername/${username}`)
        //const userInformation = await userObjRes.json();

        //window.location.replace(`/search/${searchQuery}`);
        window.location.replace('/search/' + searchQuery);
        
    }


</script>
