<ul>
    <li><a href="/" id="home">Home</a></li>
    %%LOGGEDIN%%
</ul>



<script>
    
    let responseMessage = "";

    async function logout() {
        const res = await fetch(`/auth/logout`);

        if(res.status == 201) {

            responseMessage = await res.text();

            document.getElementById("response").innerText=responseMessage

            setTimeout( () => {
            window.location.replace("/")
            }, 2000);

        } else {
            responseMessage = await res.text();

            document.getElementById("response").innerText=responseMessage
        }
    }


</script>

<p id="response"></p>

