<ul>
    <li><a href="/" id="home">Home</a></li>
    <li><a href="/chatrooms"  id="chatrooms">Chatrooms</a></li>
    <li><a href="/smileposts" id="smileposts">Smile Posts</a></li>
    <li><a href="/login" id="login">Login</a></li>
    <li><button id="logoutBtn" onclick="logout()"> Logout</button></li>
    <li><a href="/editProfile">Edit Profile</a></li>
    <li><a href="/auth/getProfile">Edit Profile get</a></li>
</ul>



<script>
    
    let responseMessage = "";

    async function logout() {
        const res = await fetch(`/auth/logout`);

        responseMessage = await res.text();

        document.getElementById("response").innerText=responseMessage
    }

    


</script>

<h3 id="response"></h3> 

