nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #f04d4d;
    width: 100%
}

nav li{
    float: left;
}

nav a{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
}

nav a:hover:not(.active){
    background-color: #f02a2a;
    transition: 0.2s;
}