#leaveBtn{
    background-color: rgb(253, 86, 86);
}

#sendBtn{
    background-color: lightblue;
}

.chatroomBtns{
    background-color: rgb(82, 243, 82);
}

#response{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

#messageInput{
    width: 500px;
}