footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    background-color: #f07272;
    width: 90%;
    border-radius: 1em;
    transform: translateX(5%);
    min-width: 1289.69px;
    height: 3em;
    bottom: 0%;
    align-items: center;
    text-align: center;
}