.hidden-modal{
    display: none;
}

.shown-modal{
    background-color: rgba(248, 243, 234, 0.945);
    border: 1px solid black;
    padding: 18px;
    display: block;
    position: absolute;
    width: 16%;
    height: 38%;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 7px;
    margin: auto;
    padding: 5px;
}

#response{
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    font-size: 20px;
}



.dropdown {
    float: left;
    overflow: hidden;
  }
  
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
}

#userPos{
      position: absolute;
      left: 95%;
      transform: translateX(-50%);
      background-color: #f07272;
      padding: 7px;
      font-size: 16px;
      height: fit-content;
      font-size: 2em;
}

.show-info:hover + .hide{
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.hide{
    display: none;
}

#info-pos{
    position: fixed;
    left: 92%;
    top: 15%;
    background-color: #f07272;
    padding: 10px;
    color: white;
}

#friends_pos{
    position: fixed;
    top: 75%;
    left: 31%;
    transform: translateX(-31%);
    border: 0.5px solid salmon;
    padding: 8px;
    width: 150px;
}

#search_btn{
    width: 130%;
}

