nav{
    position: sticky;
    top: 0%;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #f07272;
    width: 90%;
    border-radius: 1em;
    padding: 0;
    transform: translateX(5%);
}

nav a{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
    color: white;
}

nav a:hover:not(.active){
    background-color: #e93030;
    transition: 1s;
}

nav ul li{
    float: left;
    width: 200px;
    text-align: center;
}

/*   Leger her    */
.dropbtn{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
    background-color: #f07272;
    border: none;
    color: white;
    font-size: 16px;
}

.dropbtn:hover{
    background-color: #e93030;
    transition: 0.2s;
}

.dropdown{
    background-color: #f07272;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f07272;
    min-width: 191px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
 
.dropdown-content a:hover {background-color: #ddd}
  

.show {display:block;}

 /*   ---------------- */

#user_search{
    height: 1.35em;
    padding: 0.55em;
    margin: 1px 0px 1px 0px;
    text-align: center;
    width: 90%;
    border-radius: 7px;
    border: 0.1em solid;
}
nav ul li#search {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#search_btn{
    width: 100%;
    border-radius: 4px;
    border: 0px;
}
#logoutBtn{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
    background-color: #f07272;
    border: none;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 84%;
}

#logoutBtn:hover{
    background-color: #e93030;
    transition: 0.2s;
}

.active{
    background-color: #e93030;
    
}