nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #f07272;
    width: 100%
}

nav li{
    float: left;
}

nav a{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
    color: white;
}

nav a:hover:not(.active){
    background-color: #e93030;
    transition: 0.2s;
}

#logoutBtn{
    display: block;
    font-family: Comic Sans MS;
    padding: 18px 55px;
    text-decoration: none;
    font-weight: 1000;
    background-color: #f07272;
    border: none;
    color: white;
    font-size: 16px;
}

#logoutBtn:hover{
    background-color: #e93030;
    transition: 0.2s;
}

.active{
    background-color: #4fe930;
}